body {
  display: block;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1rem solid greenyellow;
  height: 100vh;
}

.logo-section {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.logo-section img {
  display: block;
  width: 75px;
  height: 75px;
}

#output {
  margin: 1rem 0;
}
